<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:configChanges="uiMode"
        android:icon="@drawable/logotipe"
        android:label="Medecine Reminder"
        android:supportsRtl="true"
        android:theme="@style/Theme.ViewApp">
        <receiver
            android:name=".NearestReceptionWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/nearest_reception_widget_info" />
        </receiver>

        <activity
            android:name=".activities.StartOnBoardingScreenActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterDiabetesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddGoodActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ResultActivity"
            android:exported="false" />

        <receiver android:name=".alarm.AlarmReceiverNotify" />

        <activity
            android:name=".activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OnBoardingScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <receiver android:name=".alarm.AlarmReceiverNotify" />

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.InformActivity"
            android:exported="false" />
        <activity
            android:name=".alarm.AlarmActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.AddPillActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddTimeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>